CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_TINYUSB_CDC_ENABLED=y

# Disable USB-Serial-JTAG so TinyUSB (USB OTG) can own GPIO 19/20
CONFIG_USJ_ENABLE_USB_SERIAL_JTAG=n

CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
